/*=================
	NOTES
===================

Firefox print emu - shift+F2: media emulate print
Use "all: initial" to remove inheritance of all styles for an element.
=================*/

/*=================
	CORE
=================*/

:root {
	--dcf-red: #F16682; 		--dcf-red-hsl: 348, 83%, 67%; 		--dcf-red-rgb: 241, 102, 130;
	--dcf-yellow: #F8D863; 		--dcf-yellow-hsl: 47, 91%, 68%; 	--dcf-yellow-rgb: 248, 216, 99;
	--dcf-green: #09B9A4; 		--dcf-green-hsl: 173, 91%, 38%; 	--dcf-green-rgb: 9, 185, 164;
	--dcf-blue: #035297; 		--dcf-blue-hsl: 208, 96%, 30%; 		--dcf-blue-rgb: 3, 82, 151;
}

html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	background-color: hsl(0, 0%, 100%);
	min-height: 100vh;
	color: hsl(0, 0%, 20%);
	background-color: hsl(0,0%,100%);
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clickthrough {
	pointer-events: none;
}

.color {
	color: currentColor;
}

.bg-color {
	background-color: currentColor;
}

/*=================
	TYPOGRAPHY
=================*/

@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Condensed"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.body-font,
body {
	font-family: "Nunito", "Ubuntu Condensed", "system", sans-serif;
}

.header-font,
h1, h2, h3, h4, h5, h6,
#logo-text, .header-nav-item{
	font-family: "Ubuntu", "system", sans-serif;
}

body {
	font-size: 1rem;
	color: hsl(0, 0%, 20%);
}

p, .body-type {
	font-size: 1.15rem;
	line-height: 1.3em;
	text-indent: 0em;
}

p {
	padding-bottom: 1.5em;
}

/* CSS calc lock for responsive line-height http://codepen.io/timbrown/pen/akXvRw */
@media (min-width: 24.15em) { /* 21em "gate" * 1.15 font-size */
	p, .body-type {
		line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21)));
	}
}

@media (min-width: 40.25em) { /* 35em "gate" * 1.15 font-size */
	p, .body-type {
		line-height: 1.5em;
	}
}

.article-columns {
	-webkit-column-width: 40ch;
	-moz-column-width: 40ch;
	column-width: 40ch;
}

.article-block {
	max-width: 66ch;
	margin: 0 auto;
}

a {
	color: currentColor;
	text-decoration: none;
	border-bottom: 0.1em solid var(--dcf-blue);
	border-radius: 0.2em 0.2em 0 0;
	padding: 0.1em 0.2em 0;
	margin: -0.1em -0.2em 0;
	transition: background-color 0.2s;
}

a:hover {
	background-color: hsla(var(--dcf-blue-hsl), 0.1);
}

a:active {
	background-color: hsla(var(--dcf-blue-hsl), 0.3);
	transition-duration: 0s;
}

h1 {
	font-size: 3rem;
	line-height: 1.05em;
}

h2 {
	font-size: 2rem;
	line-height: 1.05em;
}

hr {
	margin: 1em 0;
	background-color: currentColor;
	border: 0;
	height: 0.1em;
}

/*=================
	MAIN
=================*/

main {
	min-height: calc(100vh - 10em); /* header 4 + footer 6; for positioning footer at bottom of page */
}

.main-header {
	width: 100%;
	padding: 1em 0;
	color: #fff;
}

.main-header-wrapper {
	max-width: 60rem;
	margin: 0 auto;
}

.main-header-title {
	padding-left: 2rem;
	display: block;
	font-size: 3em;
}

.main-header-shapes {
	background-color: #fff;
	display: block;
}

.main-section {
	max-width: 50rem;
	margin: 0 auto;
}

@media (max-width: 50rem){
	.main-header-title {
		font-size: 1.5em;
	}
}
