:root {
	--dcf-red: #F16682; 		--dcf-red-hsl: 348, 83%, 67%; 		--dcf-red-rgb: 241, 102, 130;
	--dcf-yellow: #F8D863; 		--dcf-yellow-hsl: 47, 91%, 68%; 	--dcf-yellow-rgb: 248, 216, 99;
	--dcf-green: #09B9A4; 		--dcf-green-hsl: 173, 91%, 38%; 	--dcf-green-rgb: 9, 185, 164;
	--dcf-blue: #035297; 		--dcf-blue-hsl: 208, 96%, 30%; 		--dcf-blue-rgb: 3, 82, 151;
}

/*=================
	CALENDAR
=================*/

.main-section#calendar {
	font-size: 1rem;
	padding: 3em 1em;
}

.calendar-event {
	margin-left: 1em;
}

.calendar-entry::before {
	content: "";
	background: url(/img/chevron.svg), no-repeat;
	transform: rotate(-90deg);
	width: 1em;
	height: 0.5625em;
	margin-top: 1.28em;
	margin-left: -1.5em;
	position: absolute;
	display: block;
	transition: transform 0.2s;
}

.calendar-entry-wrapper {
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
	cursor: pointer;
	min-height: 3rem;
	padding-top: 0.5em;
	border-radius: 0.2em;
	border-bottom: 0.2em solid hsla(var(--dcf-red-hsl), 0.1);
	transition: border 0.2s;
}

.calendar-entry-wrapper:hover {
	border-bottom: 0.2em solid hsla(var(--dcf-red-hsl), 0.3);
}

.calendar-entry h2 {
	font-size: 1.5rem;
	font-weight: normal;
	display: inline-block;
}

.calendar-toggle {
	display: none;
}

.calendar-entry-details {
	display: flex;
	position: absolute;
	visibility: hidden;
	justify-content: space-between;
	align-items: baseline;
	background-color: hsla(var(--dcf-yellow-hsl), 0.1);
	padding: 1em;
	border-radius: 0.2em;
	border-bottom: 0.4em solid hsla(var(--dcf-red-hsl), 0.4);
	text-align: left;
}

.calendar-toggle:checked + .calendar-entry + .calendar-entry-details,
.calendar-entry[role="button"][aria-pressed="true"] + .calendar-entry-details {
	position: static;
	visibility: visible;
}

.calendar-toggle:checked + .calendar-entry::before,
.calendar-entry[role="button"][aria-pressed="true"]::before {
	transform: rotate(0deg);
}

.calendar-toggle-icon {
	display: block;
	position: absolute;
	width: 1em;
	margin-left: -1.5em;
	margin-top: 1em;
}

.calendar-toggle-icon path {
	fill:none;
	stroke: currentColor;
	stroke-width: 0.2em;
}

.calendar-entry-summary {
	border-radius: 0.2em;
	/*border-right: 0.2em solid hsla(var(--dcf-yellow-hsl),0.3);*/
	margin-right: 2em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

.calendar-entry-actions {
	text-align: right;
	list-style: none;
	line-height: 1.75em;
}

.calendar-entry-actions a {
	/*color: var(--dcf-blue);*/
	width: 100%;
	white-space: nowrap;
}

.calendar-entry-actions hr {
	color: hsla(var(--dcf-yellow-hsl),0.3);
	height: 0.2em;
	border-radius: 0.2rem;
}

@media (max-width: 50rem){ 

	.calendar-entry time {
		margin-right: 2em;
	}

	.calendar-entry-wrapper {
		flex-direction: column;
		justify-content: center;
	}

	.calendar-entry > * {
		padding: 0.5rem 0;
	}
	
	.calendar-entry-details {
		flex-wrap: wrap;
	}
	
	.calendar-entry-summary {
		border-right: none;
		margin-right: initial;
		padding-right: initial;
		border-bottom: 0.2rem solid hsla(var(--dcf-yellow-hsl),0.4);
	}
	
	.calendar-entry-actions {
		text-align: left;
	}

}