<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>UC Davis Design Career Fair 2017</title>
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="canonical" href="http://ucddesigncareerfair.com/">
<link rel="alternate" type="application/rss+xml" title="UC Davis Design Career Fair 2016" href="http://ucddesigncareerfair.com/feed.xml">

<link type="text/css" rel="stylesheet" href="/css/normalize.css" />
<link type="text/css" rel="stylesheet" href="/css/styles.css" />

<link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz!%22%23%24%25%26%27()*%2B%2C-.%2F0123456789%3A%3B%3C%3D%3E%3F%40%5B%5C%5D%5E_%60%7B%7C%7D~" rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Nunito&amp;text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz!%22%23%24%25%26%27()*%2B%2C-.%2F0123456789%3A%3B%3C%3D%3E%3F%40%5B%5C%5D%5E_%60%7B%7C%7D~" rel="stylesheet">