<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>UC Davis Design Career Fair 2017</title>
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="canonical" href="http://ucddesigncareerfair.com/">
<link rel="alternate" type="application/rss+xml" title="UC Davis Design Career Fair 2016" href="http://ucddesigncareerfair.com/feed.xml">

<link type="text/css" rel="stylesheet" href="/css/normalize.css" />
<link type="text/css" rel="stylesheet" href="/css/styles.css" />

<link href='https://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 